extends layout

block content
    div#wrapper
        include ./menu
          // /.navbar-collapse
        .page-wrapper
            .container-fluid
                .row
                    .col-lg-12
                        h1 Dashboard: 
                            small Статистика сайта
        
    include ./include/footer