extends layout

block content
    .blog-masthead
        .container
            nav.blog-nav
              a.blog-nav-item.active(href='#') Home
              |           
              a.blog-nav-item(href='#') Post
              |           
              a.blog-nav-item(href='#') Blog
              |           
              a.blog-nav-item(href='#') New hires
              |           
              a.blog-nav-item(href='#') About
    div.container
      h1= title
      p Welcome to #{title}


//-extends footer